.bg {
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.file {
    height: 100%;
    width: 100%;
}

body, html {
    height: 100%;
    margin: 0px;
}

#newmenu {
    position: absolute;
    height:400px;
    width:200px;
    
    left: calc(50% - 100px);
    top: calc(50% - 200px);
    background-color: ncs(4550-R70B);

    animation-duration: 1s;
    animation-name: slidein;
}
#menuarticle {
    width:194px;
    margin: 3px;
    height:344px;
    background-color: #1f1b5e;
    
    animation-duration: 1s;
    animation-name: slidearticle;
}
#menubutton {
    width:200px;
    height: 50px;
}
@keyframes slidein {
    from {
        top:calc(100% - 20px);
        height: 100px;
    }
    80% {
        height: 100px;
    }
    to {
        top: calc(50% - 200px);
        height: 400px;
    }
}
@keyframes slidearticle {
    from {
        height:44px;
    }
    to {
        height: 344px;
    }
}