.bg {
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
}
.github {
    width: 100%;
    background-color: lightgrey;
}
.imglabel {
    
    width: 100%;
    height: 100%;
    display:block;
}
.imgbutton {
    width: 100%;
    height: 100%;
    display:block;
}
.github_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.file {
    height: 90%;
    width: 100%;
    background-color: #aea5a5;
}
.rorem {
    height: 10%;
    width: 100%;
}
p, section{
    font-family: 'NanumGothicLight';
    text-align: center;
}
body, html {
    height: 100%;
    margin: 0px;
}
@media screen and (max-width: 500px) {
    section {
        font-size: 80%;
    }
    .github_link {
        display: none;
    }
}

@media screen and (min-width: 450px) {
    #newmenu, #palettemenu {
        width: 400px;
    }
}
#newmenu, #palettemenu {
    background-color: #dbe1e4;

    border: 2px solid#3f3f3f;
    z-index: 1;
    position: absolute;
}
#newmenu {
    top: 0px;
}
#palettemenu {
    top: 80px;
}
#menuslider {
    width: calc(100% - 100px);
    border: 2px solid#3f3f3f;
}
#ditheringslider {
    width: calc(100% - 80px);
}
#ditheringtext {
    font-size: 14px;
}
.menubutton {
    width: 100%;
    text-align: center;
}
.smallbutton {
    width: 40px;
    height: 30px;
    padding: 0px;
    align-self: center;
}
#menuarticle {
    background-color: #aea5a5;
    
    border: 2px solid#3f3f3f;
    border-radius: 8px;
    text-align: center;
}